####**Extracting features of 2018 movies from Wikipedia**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [ ]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
267  DECEMBER  ...  [164]
268  DECEMBER  ...  [137]
269  DECEMBER  ...  [228]
270  DECEMBER  ...  [260]
271  DECEMBER  ...  [261]

[272 rows x 7 columns]

As it is observed in the above table, we do not have the **genre** column so we will get the genre data from IMDb. You will need to create an API key in order to access the API key.

In [ ]:
pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.7/dist-packages (1.7.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)

In [ ]:
#get your API Key here: https://www.themoviedb.org/settings/api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '' #add your own API key here

In [ ]:


from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " "
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value

In [ ]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

      Opening  ...                                           genres
0     JANUARY  ...                          Horror Mystery Thriller
1     JANUARY  ...                                   Thriller Drama
2     JANUARY  ...                                  Action Thriller
3     JANUARY  ...                            Drama History Western
4     JANUARY  ...                          Action Thriller Mystery
..        ...  ...                                              ...
267  DECEMBER  ...                   Mystery Adventure Comedy Crime
268  DECEMBER  ...        Thriller Science Fiction Action Adventure
269  DECEMBER  ...                                    Drama History
270  DECEMBER  ...                      Thriller Crime Drama Action
271  DECEMBER  ...  Science Fiction Mystery Drama Thriller TV Movie

[272 rows x 8 columns]

In [ ]:
df_2018 = df[['Title','Cast and crew','genres']]
df_2018

                          Title  ...                                           genres
0       Insidious: The Last Key  ...                          Horror Mystery Thriller
1              The Strange Ones  ...                                   Thriller Drama
2                      Stratton  ...                                  Action Thriller
3                 Sweet Country  ...                            Drama History Western
4                  The Commuter  ...                          Action Thriller Mystery
..                          ...  ...                                              ...
267             Holmes & Watson  ...                   Mystery Adventure Comedy Crime
268                        Vice  ...        Thriller Science Fiction Action Adventure
269         On the Basis of Sex  ...                                    Drama History
270                   Destroyer  ...                      Thriller Crime Drama Action
271  Black Mirror: Bandersnatch  ...  Science Fiction Mystery Drama Thriller TV Movie

[272 rows x 3 columns]

**Extract Directors**

In [ ]:
def get_director(x):
    if " (director)" in x: #we are getting "director"
        return x.split(" (director)")[0]
    elif " (directors)" in x: #we are getting "directors" with "s"
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0] #we are getting "directors/screenplay"

In [ ]:

#let's apply the above function on the "Cast and crew" column
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_2018

                          Title  ...       director_name
0       Insidious: The Last Key  ...        Adam Robitel
1              The Strange Ones  ...    Lauren Wolkstein
2                      Stratton  ...          Simon West
3                 Sweet Country  ...    Warwick Thornton
4                  The Commuter  ...  Jaume Collet-Serra
..                          ...  ...                 ...
267             Holmes & Watson  ...          Etan Cohen
268                        Vice  ...          Adam McKay
269         On the Basis of Sex  ...          Mimi Leder
270                   Destroyer  ...        Karyn Kusama
271  Black Mirror: Bandersnatch  ...         David Slade

[272 rows x 4 columns]

**Actor 1**

In [ ]:

def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:

df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

**Actor 2**

In [ ]:

def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:

df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

**Actor 3**

In [ ]:

def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:

df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [ ]:

df_2018

                          Title  ...    actor_3_name
0       Insidious: The Last Key  ...  Leigh Whannell
1              The Strange Ones  ...   Emily Althaus
2                      Stratton  ...      Gemma Chan
3                 Sweet Country  ...             NaN
4                  The Commuter  ...  Patrick Wilson
..                          ...  ...             ...
267             Holmes & Watson  ...    Rebecca Hall
268                        Vice  ...    Steve Carell
269         On the Basis of Sex  ...  Justin Theroux
270                   Destroyer  ...    Toby Kebbell
271  Black Mirror: Bandersnatch  ...   Asim Chaudhry

[272 rows x 7 columns]

In [ ]:

df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [ ]:

new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:

new_df18

          director_name  ...                 movie_title
0          Adam Robitel  ...     Insidious: The Last Key
1      Lauren Wolkstein  ...            The Strange Ones
2            Simon West  ...                    Stratton
3      Warwick Thornton  ...               Sweet Country
4    Jaume Collet-Serra  ...                The Commuter
..                  ...  ...                         ...
267          Etan Cohen  ...             Holmes & Watson
268          Adam McKay  ...                        Vice
269          Mimi Leder  ...         On the Basis of Sex
270        Karyn Kusama  ...                   Destroyer
271         David Slade  ...  Black Mirror: Bandersnatch

[272 rows x 6 columns]

In [ ]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [ ]:

new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [ ]:

new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']
new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
267          Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
268          Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
269          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
270        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
271         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[272 rows x 7 columns]

###**Extracting features of 2019 movies from Wikipedia**

In [ ]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [ ]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
237  DECEMBER  ...  [132]
238  DECEMBER  ...  [221]
239  DECEMBER  ...  [222]
240  DECEMBER  ...  [223]
241  DECEMBER  ...  [224]

[242 rows x 6 columns]

In [ ]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
df_2019 = df[['Title','Cast and crew','genres']]
df_2019

                 Title  ...                                    genres
0          Escape Room  ...                   Horror Thriller Mystery
1           Rust Creek  ...                            Thriller Drama
2     American Hangman  ...                                  Thriller
3     A Dog's Way Home  ...                    Drama Adventure Family
4           The Upside  ...                              Comedy Drama
..                 ...  ...                                       ...
237  Spies in Disguise  ...  Animation Action Adventure Comedy Family
238       Little Women  ...                             Drama Romance
239               1917  ...                 War Drama Action Thriller
240         Just Mercy  ...                       Drama Crime History
241           Clemency  ...                                     Drama

[242 rows x 3 columns]

In [ ]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [ ]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [ ]:
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [ ]:
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [ ]:
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [ ]:
new_df19

              director_name  ...                                               comb
0              Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1               Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2         Wilson Coneybeare  ...  Donald Sutherland Vincent Kartheiser Oliver De...
3      Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4               Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...
..                      ...  ...                                                ...
237  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
238            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
239              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
240   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
241         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[242 rows x 7 columns]

In [ ]:
my_df = new_df18.append(new_df19,ignore_index=True)
my_df

              director_name  ...                                               comb
0              Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1          Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2                Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3          Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4        Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                      ...  ...                                                ...
509  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
510            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
511              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
512   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
513         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[514 rows x 7 columns]

In [ ]:
old_df = pd.read_csv('/content/new_data.csv')
old_df

              director_name  ...                                               comb
0             James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1            Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3         Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4               Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                     ...  ...                                                ...
5359            Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
5360            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
5363           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5364 rows x 7 columns]

In [ ]:
final_df = old_df.append(my_df,ignore_index=True)
final_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5873  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5874            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5875              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5876   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5877         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5878 rows x 7 columns]

In [ ]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           2
movie_title      0
comb             2
dtype: int64

In [ ]:
final_df = final_df.dropna(how='any')

In [ ]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [ ]:
final_df.to_csv('final_data.csv',index=False)